/**the website is zoomed out a bit to make it look better on smaller screen sizes
the other function makes it possible to scroll down smoothly to transition on the same page
**/
html { 
    zoom: .8;
    scroll-behavior: smooth;
}
/** spplies to all the elements**/
*
{
  padding: 0;
  margin: 0;
}

/**section with the class header with a background image and a shadowey effect is applied with the linear-gradient**/
.header{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: white
}

/**this is the logo**/
.header img{
    width: 170px;
    float: left;
}

/**login button **/
.login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
    float: right
}

/**styling the different captions **/
.header h1{
    padding-top: 260px;
    padding-bottom: 0;
    font-size: 55px;
}

.header h6{
    display: inline-block; 
    text-align:right; 
    width: 100%;   
}

.header p{
    margin: 18px 0;
}

/**the bootstrap class for input box **/
.input-group{
    width: 100%;
    max-width: 500px;
    border-radius: 30px;
    background: white;
    margin: auto;
    padding: 6px;
    resize: vertical;
}
/**same bootstrap, input made round **/
.form-control{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 1px;
    box-shadow: none !important;
}

.filtr-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: white !important;
    padding: 0 20px;
    border-radius: 30px !important;
    box-shadow: none !important;
    margin: 7px;
}

/** class for filter buttons **/
#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
/**filter buttons, same goes for the next three, redirects user to respective search options **/
.msgBtn{
    width: 100px;
    background-image: linear-gradient(to bottom right, #3366ff -4%, #333300 -2%);
    border: 0 !important;
    color: white !important;
    padding: 0 25px;
    border-radius: 30px !important;
    box-shadow: none !important;
    margin: 7px;
}

.msgBtn2{
    width: 100px;
    background-image: linear-gradient(to bottom right, #3366ff -4%, #333300 -2%);
    border: 0 !important;
    color: white !important;
    padding: 0 25px;
    border-radius: 30px !important;
    box-shadow: none !important;
    margin: 7px;
}

.msgBtnBack{
    width: 100px;
    background-image: linear-gradient(to bottom right, #3366ff -4%, #333300 -2%);
    border: 0 !important;
    color: white !important;
    padding: 0 25px;
    border-radius: 30px !important;
    box-shadow: none !important;
    margin: 7px;    
}
/**the go submit button redirects user to a search page with different results fetched from the database **/
.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: white !important;
    padding: 0 25px;
    border-radius: 30px !important;
    box-shadow: none !important;
}
/**to seperate contact and login button**/
.divider{
    float: right;
    margin: 0 12px;
    width:5px;
    height:auto;
    display:inline-block;
}
/*offers*/
/*the following styling applies for the subsequent section containing offers*/
.offers{
    padding: 100px 0;
}

h1{
    text-align: center;
    padding-bottom: 30px;
}

.offer-img img{
 width: 100%;

}

.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
}
/** makes the images of the offers change with screen size**/
.offer-img{
    position: relative;
    max-width: 100%;
    height: auto;
}

.offer-details{
    padding: 20px;
    text-align: justify;
}

.offer-details h4{
    font-weight: 600;
    margin-top: 20px;
}

.offer-details .fa{
    padding: 10px;
    margin-right: 5px;
    background: white;
    bottom: -1px;
    font-size: 15px;
    color: #ff5722;
}

.offer-box{
    box-shadow: 0 0 10px 1px rgba(55,91,175,0.18);
    margin-bottom: 30px;
}
/** the footer section**/

/**the distinclty unique background 
.footer{
    padding: 100px 20px;
    background-image: linear-gradient(#2d557d,#9610fb);
    color: white;
}

.footer-logo{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
**/
